@import url(app.css);
.contact-section {
  width: 100%;
  height: 100vh;
  
  
}
.contact-container {
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  background-image: linear-gradient(to bottom, rgb(65, 141, 255), rgb(21, 97, 227));
  padding: 20px 20px;
  border-radius: 20px;
  
}
.form-heading{
  color: white;
}

.apply-doctor {
  height: 90vh;
}
.form-btncon{
  background-image: linear-gradient(to bottom, rgb(65, 141, 255), rgb(7, 26, 60));
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 100px;
  margin-left: 420px;
}
.form-btncon:hover {
  transform: scale(1.07); /* Apply scale transformation on hover */
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}


@media (max-width: 1000px) {
  .contact-container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .contact-container {
    width: 60%;
  }
}

@media (max-width: 420px) {
  .contact-container {
    width: 70%;
  }
}
